« <%= link_to 'Songs', songs_path %>

<h1>“<%= @song.title %>”</h1>

<h3>Details:</h3>
  <ul>
    <li>[<a href='<%= edit_song_url %>'>edit</a>]</li>
  </ul>

<h3>Recordings:</h3>
  <ul>
    <% @song.recordings.each do |recording| %>
    <li>
      <a href='<%= track_url(recording) %>'>“<%= recording.name %>”</a>
      from 
      <i><%= link_to recording.album.name, album_url(recording.album)%></i>
      by 
      <%= link_to recording.album.band.name, band_url(recording.album.band)%> 
    </li>
    <% end %>
    <li>[<%= link_to 'add', new_track_url %>]</li>
  </ul>

<%= button_to "Delete song", song_path(@song), method: :delete %>